body{
    margin: 3% 5%;
  }
  
  #section1{
    margin-bottom: 5%;
  }
  
  
  section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  section ul li{
    list-style-type: none;
  }
  
  section ul li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #404040;
    font-size:large;
  }
  section ul li a:hover{
    color:#7DC2A5;
    padding-left: 10px;
  
  }
  #nature{
    color: #7DC2A5;
  }
  
  nav{
    background-color: #F1EFEF;
    border-radius: 6px;
    padding: 1% 0%;
    margin-bottom: 5%;
  
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    list-style-type: none;
    text-align: center;
    margin-right: 10%;
  }
  
  nav ul li a{
    text-decoration: none;
    color: #404040;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }

  div img{
    float: left;
    max-height: 50%;
  }

  div p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:2% 2%;
  }

  .texte{
    background-color: #F1EFEF;
    padding: 5% 5%;
    margin-top: 5%;
    border-radius: 6px;
    margin-bottom: 5%;
  }
  
  .texte p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .container{
    max-width: 1170px;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  footer ul{
    list-style-type:none ;
  }
  
  footer a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Styles de base pour le footer */
  .footer {
    background-color: #F1EFEF;
    padding: 7% 0;
    border-radius: 6px;
    margin: 3% 5%;
    text-align: center;
  }
  footer a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
  }
  
  h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7DC2A5;
    justify-content: center;
    text-align: center;
  }
  
  
  .footer-col {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px; /* Espace entre les colonnes */
  }
  
  .footer-col ul {
    text-align: center;
  }
  
  
  /* Styles pour les liens dans le footer */
  .footer-col ul li {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: #404040;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #7DC2A5;
    padding-left: 10px;
  }
  
  /* Styles pour les icônes sociales dans le footer */
  .footer-col .social-links {
    margin-top: 20px; /* Espace au-dessus des icônes sociales */
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin-right: 5%;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #7DC2A5;
    padding-left: 10px;
  }
  
  /* Media queries pour la réactivité */
  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-around;
      text-align: left;
    }
  
    .footer-col {
      width: 20%;
    }
  }
  